.graphics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 75rem;
    margin: 0 auto;
    
}
@media ( min-width: 768px ) { 
    .graphics{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3.5rem;
    }
}
.progress{
    width: 30%;
}
.CircularProgressbar .CircularProgressbar-text{
    font-size: 1.3rem !important;
    font-family: var(--mainFont);
    font-weight: 900;
}
.progress__name{
    font-family: var(--mainFont);
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    height: 7.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}