:root{
  --mainFont: 'Orbitron', sans-serif;
  --secondaryFont: 'Lato', sans-serif;
  --pokemon: pokemon 2s 1 linear;
  --avatar: avatar 6s infinite linear;
  --bgyellowbar: yellow;
  --bgoutlet: white;
  --bordercolor: grey;
  --bgInputs: white;
  --fontmc: black;
  --spancolor: red;
  --pagecolor: black;
  --perpage: #7e4400;
}
[data-theme="dark"]{
  --bgyellowbar: grey;
  --bgoutlet: grey;
  --bordercolor: black;
  --bgInputs: grey;
  --fontmc: lightblue;
  --spancolor: lightblue;
  --pagecolor: white;
  --perpage: white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}
body{
  overflow-x: hidden;
}
html{
  font-size: 62.5%; 
}
@media ( max-width: 500px ) { 
  html{
    font-size: 50%;
  }
}
input{
  font-family: inherit;
}
button{
  font-family: inherit;
  cursor: pointer;
}
h1, h2, h3, ul, hr{
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  list-style: none;
  padding-left: 0;
}
img{
  width: 100%;
  display: block;
}
@keyframes pokemon {
  0% {
      scale: .3
  }

  50% {
      scale: .7
  }

  to {
      scale: 1;
  }
}
@keyframes avatar {
  0% {
      transform: rotateY(0)
  }

  50% {
      transform: rotateY(180deg)
  }

  to {
      transform: rotateY(360deg)
  }
}