.pages{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.getPages{
    margin-bottom: -3rem;
    font-size: 3.5rem;
    color: 	rgb(105,105,105);
    display: inline-block;
}
.btn__pages{
    font-size: 10rem;
    display: inline;
}
.btn__pages:hover{
    cursor: pointer;
}
.page{
    display: inline;
    position: relative;
    top: -3rem;
    margin-left: -1.4rem;
    margin-right: -1.4rem;
    color: var(--pagecolor);
}
.bx{
    color: var(--pagecolor);
}
@media ( max-width: 349px ) { 
    .page{
    margin-left: -2.4rem;
    margin-right: -2.4rem;
    }
}
@media ( min-width: 350px ) { 
    .page{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    }
}
@media ( min-width: 400px ) { 
    .page{
    margin-left: 2rem;
    margin-right: 2rem;
    }
}
@media ( min-width: 400px ) { 
    .page{
    margin-left: 3rem;
    margin-right: 3rem;
    }
}