.select__type{
    margin-top: 1rem;
    width: 80%;
    height: 5rem;
    border-radius: 1rem;
    font-family: var(--mainFont);
    padding-left: 2rem;
    border: 3px solid var(--bordercolor);
    font-weight: 900;
    background-color: var(--bgInputs);
    color: var(--fontmc);
    outline: none;
}
.select__type:focus-within{
    box-shadow: 1rem 1rem 25.2rem 0rem rgba(223,254,119,0.75);
}